html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  height: 100dvh;
  width: 100vw;
  overflow: hidden;
  text-align: left;
}

html {
  word-break: break-all;
}

/* XTerm resets for scrolling and proper display */
.xterm-viewport {
  overflow-y: auto !important;
}
